:root {
    --clavSize:50%;
    --graphSize:50%;
}

.clavier-graphiesZone {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;  
    margin: 30px 10px 0px 0px;
}

/* /////////////////////////////////////// */
/* /////////////// CLAVIERS ////////////// */
/* /////////////////////////////////////// */
.svgPhonClick:hover {
    cursor: pointer;
    stroke: rgb(135, 158, 133);
    stroke-width: 2px;
}
.clavier {
    -ms-flex: var(--clavSize); /* IE10 */
    flex: var(--clavSize);
    flex-direction: column;
    margin: auto;
    position: relative;
    align-items: flex-start;
    cursor: pointer;
}

.clavierSeul {
    width: var(--clavSize);
    margin: auto;
    position: relative;
}

.superposeBack {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
}
.superpose {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
}
.doAide {
    background-color: black;
    color:white;
    padding:5px;
    border-radius: 3px;
    position: absolute;
    top: 0px;
}
.control-clavier {
    background-color: black;
    padding:5px;
    border-radius: 3px;
    position: absolute;
    top: -25px;
    left:0px;
    z-index: 0;
}
.control-clavier img {
    width: 25px;
}
.control-clavier span {
    color:white;
}


/* ZONE SÉLECTION TABLEAU PHONO ET FIDEL */
.zoneParam {
    display: -ms-flexbox; /* IE10 */
    display: flex;
}
.left {
    flex: 50%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.right {
    flex: 50%;
}

/* Calques A. Do */
.doCalques {
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn-calq-div select {margin: 0 5px;}
.btn-calq {
    width: 70px;
    margin: 5px;
}
.btn-calq:hover {border:blue 3px solid;}
.btnfocus {border:blue 3px solid;}

/* GRAPHIES */
.graphies {
    -ms-flex: var(--graphSize); /* IE10 */
    flex: var(--graphSize);
    position: relative;
}


/* MANDARIN - SINOSYLLABE */
.controls {
    width: 100%;
    margin: 40px auto;
}
.bouton {
    background-color: grey;
    border: 1px solid transparent;
}
.mybtn {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: black;
    margin-right: 50px;
    border-radius: 5px;
}
.actif {
    cursor: pointer;
    background-color: rgb(83, 83, 255);
}

.syll {
    margin: 20px auto;
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
}

.syllLab {
    width: 20vw;
    height: 20vw;
    max-width: 230px;
    max-height: 230px;
}

.syll > div {
    width: 100%;
    transition: height .3s;
}

.part {
    height: 0%;
}

._1 {
    height: 100%;
}
._2 {
    height: 50%;
    border-bottom: black solid 1px;
}
._3 {
    height: 33.33%;
    border-bottom: black solid 1px;
}
._4 {
    height: 25%;
    border-bottom: black solid 1px;
}

#finale, .finale {
    position: absolute;
    bottom: 0px;
}

.divTons {
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
}
.ton {
    position: absolute;
    width: 20%;
    height:20%;
    background-color: black;
    border: solid 1px white;
    display: none;
}
.tonLab {
    width:30px;
    height:30px;
}
.t1 {
    top:0px;
    left:0px;
    border-top-left-radius: 5px;
}
.t2 {
    top:50%;
    transform: translateY(-50%);
    left:0px;
}
.t3 {
    bottom:0px;
    left:0px;
    border-bottom-left-radius: 5px;
}
.t4 {
    top:0px;
    right:0px;
    border-top-right-radius: 5px;
}
.t5 {
    top:0px;
    right:50%;
    transform: translateY(-50%);
}
.t6 {
    bottom:0px;
    right:0px;
    border-bottom-right-radius: 5px;
}
.t7 {
    top:0px;
    left:50%;
    transform: translateX(-50%);
}
.t8 {
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
}