/* CSS ALeM-APP v4 */
/* https://alem.hypotheses.org/ */
/* Last update: 2021/12/09 */

:root {
    --bicolor1: #ff0000;
    --bicolor2: #40b9ff;
    --bicolorWhite1: #ff0000;
    --bicolorWhite2: #00a2ff;
  
    --phon_neutre: #cccccc;
    --phon_base: #464141;
  
    --phon_cbrack: #dc8f86; /*æ {*/
    --phon_cbrack2: lightgray; /*ʉ }*/
    --phon_o_maj_nas: #7f2a18; /*ɔ̃*/
    --phon_1: #00655d; /*ɨ*/
    --phon_2: #c9004d; /*ø*/
    --phon_3: #ed727e; /*ɜ*/
    --phon_3_rho: #c77a82; /*ɝ*/
    --phon_3_slash: lightgray; /*ɞ 3\*/
    --phon_4: #c3ffff; /*ɾ*/
    --phon_6: lightgray; /*ɐ*/
    --phon_7: #ad9501; /*ɤ*/
    --phon_glottstop:  #f05a62; /*ʔ*/
    --phon_8: lightgray; /*ɵ*/
    --phon_9: #ea6b76; /*œ*/
    --phon_9_maj: lightgray; /*ɶ*/
    --phon_9_nas: #f89f7d; /*œ̃*/
    --phon_a_maj: #922289; /*ɑ*/
    --phon_a: #ffffff;
    --phon_a_centr: lightgray; /*ä a_"*/
    --phon_arobase_rho: #ffcc99; /*ɚ*/
    --phon_arobase_slash: lightgray; /*ɘ @\*/
    --phon_arobase: #ffed59; /*ə*/
    --phon_a_maj_nas: #f3bbcd; /*ɑ̃*/
    --phon_b: #156b5e;
    --phon_b_emph: #105248; /*bˤ*/
    --phon_b_maj: #f87407; /*β*/
    --phon_d: #0c843d;
    --phon_d_emph: #0b6d34; /*dˤ*/
    --phon_d_maj: #d65c81; /*ð*/
    --phon_d_maj_emph: #9c455f; /*ðˤ*/
    --phon_e: #44a1ca;
    --phon_e_maj: #01b49e; /*ɛ*/
    --phon_e_maj_nas: #597fbf; /*ɛ̃*/
    --phon_f: #a897b7;
    --phon_g: #929896;
    --phon_g_maj: #06daff; /*ɣ*/
    --phon_x: #4c83c3;
    --phon_h: #d8e7d9;
    --phon_h_maj: #ffeba2; /*ɥ*/
    --phon_i: #e60004;
    --phon_i_maj: #e7236d; /*ɪ*/
    --phon_int_slash: #be2f2f; /*ʕ ?\*/
    --phon_j: #f591ad;
    --phon_k: #feae21; /*kʰ*/
    --phon_k_h: #ff3399;
    --phon_l: #007ab6;
    --phon_l_emph: #005e8d;
    --phon_m_maj: #23e915; /*ɯ*/
    --phon_m: #ed5128;
    --phon_m_emph: #b93d1d; /*mˤ*/
    --phon_n_maj: #586329; /*ŋ*/
    --phon_n: #656ea7;
    --phon_n_emph: #555c8a; /*nˤ*/
    --phon_o: #a64b00;
    --phon_o_maj: #bc7b5e; /*ɔ*/
    --phon_p: #90312f;
    --phon_p_slash: #e8ea2d; /*ɸ   p\*/
    --phon_p_h: #00cccc; /*pʰ*/
    --phon_q: #fe8421;
    --phon_q_maj: #e2a77c; /*ɒ*/
    --phon_r: #3feed1;
    --phon_r_emph: #35ccb3; /*rˤ*/
    --phon_r_maj: #ee863f; /*ʁ*/
    --phon_r_slash_retr: #8C9194; /*ɻ   r\`*/
    --phon_r_slash: #ee7d2d;/*ɹ r\*/
    --phon_s_maj: #019bcf; /*ʃ*/
    --phon_s: #6eab2c;
    --phon_s_emph: #5b8d25; /*sˤ*/
    --phon_s_slash: #fdf564; /*ɕ   s\*/
    --phon_s_retr: #7a2e1e; /*ʂ   s`*/
    --phon_t: #bb2970;
    --phon_t_emph: #9c265f; /*tˤ*/
    --phon_t_maj: #e9ea8c; /*θ*/
    --phon_t_h: #f8bfc6; /*tʰ*/
    --phon_u: #007b4e;
    --phon_u_maj: #ae9a91; /*ʊ*/
    --phon_v: #9a8d1b;
    --phon_v_maj: #feea56; /*ʌ*/
    --phon_w: #7acabf;
    --phon_x: #4c83c3;
    --phon_x_maj_slash: rgb(133, 133, 133); /*ħ X\*/
    --phon_y: #e8bb85;
    --phon_y_maj: lightgray; /*ʏ*/
    --phon_z_maj: #126293; /*ʒ*/
    --phon_z: #aa4581;
    --phon_z_emph: #7a345e; /*zˤ*/
    --phon_z_slash: #7fe9ab; /*ʑ   z\*/
    --phon_z_retr: #b87d6b; /*ʐ   z`*/
  
    --phon_schwi: #f8b3ba; /* pour l'anglais i/ɪ */
    --phon_schwa: #e7dd87; /* pour l'anglais ə */
    --phon_schwu: #b9dbc5; /* pour l'anglais u/ʊ */
  
    --phon_nas: #acadee; /*̃ */
    --phon_rho: #cccccc; /* ˞ */
  }

  
.null {fill:#000000;fill-opacity:1;stroke:#ffffff;stroke-opacity:1} /*rectangle vide*/
.phon_neutre { fill: var(--phon_neutre); color:var(--phon_neutre); stop-color:var(--phon_neutre); background:-webkit-linear-gradient(var(--phon_neutre), var(--phon_neutre));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ponctuation etc.*/
.phon_inconnu { fill: var(--phon_neutre); color:var(--phon_neutre); stop-color:var(--phon_neutre); background:-webkit-linear-gradient(var(--phon_neutre), var(--phon_neutre));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /* mots inconnus */
.phon_echec { fill: var(--phon_neutre); color:var(--phon_neutre); stop-color:var(--phon_neutre); background:-webkit-linear-gradient(var(--phon_neutre), var(--phon_neutre));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /* mots non alignable */
.long {text-decoration: underline;}

.unstressed { font-weight: normal;} /* unstressed spellings (default) */
.stress1 { font-size: 1.7em; font-weight: bolder;} /* Primary stress */
.stress2 { font-size: 1.3em; font-weight: bold;} /* Secondary stress */
.schwa { font-size: .6em; font-weight: lighter;} /* Schwa */

.phon_cbrack { fill: var(--phon_cbrack); color:var(--phon_cbrack); stop-color:var(--phon_cbrack); background:-webkit-linear-gradient(var(--phon_cbrack), var(--phon_cbrack));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*æ {*/
.phon_cbrack2 { fill: var(--phon_cbrack2); color:var(--phon_cbrack2); stop-color:var(--phon_cbrack2); background:-webkit-linear-gradient(var(--phon_cbrack2), var(--phon_cbrack2));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʉ }*/
.phon_o_maj_nas { fill: var(--phon_o_maj_nas); color:var(--phon_o_maj_nas); stop-color:var(--phon_o_maj_nas); background:-webkit-linear-gradient(var(--phon_o_maj_nas), var(--phon_o_maj_nas));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɔ̃*/
.phon_1 { fill: var(--phon_1); color:var(--phon_1); stop-color:var(--phon_1); background:-webkit-linear-gradient(var(--phon_1), var(--phon_1));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɨ*/
.phon_2 { fill: var(--phon_2); color:var(--phon_2); stop-color:var(--phon_2); background:-webkit-linear-gradient(var(--phon_2), var(--phon_2));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ø*/
.phon_3 { fill: var(--phon_3); color:var(--phon_3); stop-color:var(--phon_3); background:-webkit-linear-gradient(var(--phon_3), var(--phon_3));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɜ*/
.phon_3_rho { fill: var(--phon_3_rho); color:var(--phon_3_rho); stop-color:var(--phon_3_rho); background:-webkit-linear-gradient(var(--phon_3_rho), var(--phon_3_rho));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɝ*/
.phon_3_slash { fill: var(--phon_3_slash); color:var(--phon_3_slash); stop-color:var(--phon_3_slash); background:-webkit-linear-gradient(var(--phon_3_slash), var(--phon_3_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɞ 3\*/
.phon_3_long { fill: var(--phon_3); color:var(--phon_3); stop-color:var(--phon_3); background:-webkit-linear-gradient(var(--phon_3), var(--phon_3));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;   text-decoration: underline var(--phon_3);} /*ɜ:*/
.phon_4 { fill: var(--phon_4); color:var(--phon_4); stop-color:var(--phon_4); background:-webkit-linear-gradient(var(--phon_4), var(--phon_4));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɾ*/
.phon_6 { fill: var(--phon_6); color:var(--phon_6); stop-color:var(--phon_6); background:-webkit-linear-gradient(var(--phon_6), var(--phon_6));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɐ*/
.phon_7 { fill: var(--phon_7); color:var(--phon_7); stop-color:var(--phon_7); background:-webkit-linear-gradient(var(--phon_7), var(--phon_7));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɤ*/
.phon_glottstop { fill: var(--phon_glottstop); color:var(--phon_glottstop); stop-color:var(--phon_glottstop); background:-webkit-linear-gradient(var(--phon_glottstop), var(--phon_glottstop));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʔ*/
.phon_8 { fill: var(--phon_8); color:var(--phon_8); stop-color:var(--phon_8); background:-webkit-linear-gradient(var(--phon_8), var(--phon_8));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɵ*/
.phon_9 { fill: var(--phon_9); color:var(--phon_9); stop-color:var(--phon_9); background:-webkit-linear-gradient(var(--phon_9), var(--phon_9));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*œ*/
.phon_9_maj { fill: var(--phon_9_maj); color:var(--phon_9_maj); stop-color:var(--phon_9_maj); background:-webkit-linear-gradient(var(--phon_9_maj), var(--phon_9_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɶ*/
.phon_9_nas { fill: var(--phon_9_nas); color:var(--phon_9_nas); stop-color:var(--phon_9_nas); background:-webkit-linear-gradient(var(--phon_9_nas), var(--phon_9_nas));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*œ̃*/
.phon_a_maj { fill: var(--phon_a_maj); color:var(--phon_a_maj); stop-color:var(--phon_a_maj); background:-webkit-linear-gradient(var(--phon_a_maj), var(--phon_a_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɑ*/
.phon_a_maj_long { fill: var(--phon_a_maj); color:var(--phon_a_maj); stop-color:var(--phon_a_maj); background:-webkit-linear-gradient(var(--phon_a_maj), var(--phon_a_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;   text-decoration: underline var(--phon_a_maj);} /*ɑ:*/
.phon_a { fill: var(--phon_a); color:var(--phon_a); stop-color:var(--phon_a); background:-webkit-linear-gradient(var(--phon_a), var(--phon_a));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_a_centr { fill: var(--phon_a_centr); color:var(--phon_a_centr); stop-color:var(--phon_a_centr); background:-webkit-linear-gradient(var(--phon_a_centr), var(--phon_a_centr));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ä a_"*/
.phon_arobase_rho { fill: var(--phon_arobase_rho); color:var(--phon_arobase_rho); stop-color:var(--phon_arobase_rho); background:-webkit-linear-gradient(var(--phon_arobase_rho), var(--phon_arobase_rho));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɚ*/
.phon_arobase_slash { fill: var(--phon_arobase_slash); color:var(--phon_arobase_slash); stop-color:var(--phon_arobase_slash); background:-webkit-linear-gradient(var(--phon_arobase_slash), var(--phon_arobase_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɘ @\*/
.phon_arobase { fill: var(--phon_arobase); color:var(--phon_arobase); stop-color:var(--phon_arobase); background:-webkit-linear-gradient(var(--phon_arobase), var(--phon_arobase));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ə*/
.phon_a_maj_nas { fill: var(--phon_a_maj_nas); color:var(--phon_a_maj_nas); stop-color:var(--phon_a_maj_nas); background:-webkit-linear-gradient(var(--phon_a_maj_nas), var(--phon_a_maj_nas));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɑ̃*/
.phon_b { fill: var(--phon_b); color:var(--phon_b); stop-color:var(--phon_b); background:-webkit-linear-gradient(var(--phon_b), var(--phon_b));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_b_emph { fill: var(--phon_b_emph); color:var(--phon_b_emph); stop-color:var(--phon_b_emph); background:-webkit-linear-gradient(var(--phon_b_emph), var(--phon_b_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_b_maj { fill: var(--phon_b_maj); color:var(--phon_b_maj); stop-color:var(--phon_b_maj); background:-webkit-linear-gradient(var(--phon_b_maj), var(--phon_b_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*β*/
.phon_d { fill: var(--phon_d); color:var(--phon_d); stop-color:var(--phon_d); background:-webkit-linear-gradient(var(--phon_d), var(--phon_d));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_d_emph { fill: var(--phon_d_emph); color:var(--phon_d_emph); stop-color:var(--phon_d_emph); background:-webkit-linear-gradient(var(--phon_d_emph), var(--phon_d_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_d_maj { fill: var(--phon_d_maj); color:var(--phon_d_maj); stop-color:var(--phon_d_maj); background:-webkit-linear-gradient(var(--phon_d_maj), var(--phon_d_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ð*/
.phon_d_maj_emph { fill: var(--phon_d_maj_emph); color:var(--phon_d_maj_emph); stop-color:var(--phon_d_maj_emph); background:-webkit-linear-gradient(var(--phon_d_maj_emph), var(--phon_d_maj_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_e { fill: var(--phon_e); color:var(--phon_e); stop-color:var(--phon_e); background:-webkit-linear-gradient(var(--phon_e), var(--phon_e));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_e_maj { fill: var(--phon_e_maj); color:var(--phon_e_maj); stop-color:var(--phon_e_maj); background:-webkit-linear-gradient(var(--phon_e_maj), var(--phon_e_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɛ*/
.phon_e_maj_nas { fill: var(--phon_e_maj_nas); color:var(--phon_e_maj_nas); stop-color:var(--phon_e_maj_nas); background:-webkit-linear-gradient(var(--phon_e_maj_nas), var(--phon_e_maj_nas));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɛ̃*/
.phon_f { fill: var(--phon_f); color:var(--phon_f); stop-color:var(--phon_f); background:-webkit-linear-gradient(var(--phon_f), var(--phon_f));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_g { fill: var(--phon_g); color:var(--phon_g); stop-color:var(--phon_g); background:-webkit-linear-gradient(var(--phon_g), var(--phon_g));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_g_maj { fill: var(--phon_g_maj); color:var(--phon_g_maj); stop-color:var(--phon_g_maj); background:-webkit-linear-gradient(var(--phon_g_maj), var(--phon_g_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_h { fill: var(--phon_h); color:var(--phon_h); stop-color:var(--phon_h); background:-webkit-linear-gradient(var(--phon_h), var(--phon_h));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_h_maj { fill: var(--phon_h_maj); color:var(--phon_h_maj); stop-color:var(--phon_h_maj); background:-webkit-linear-gradient(var(--phon_h_maj), var(--phon_h_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɥ*/
.phon_i { fill: var(--phon_i); color:var(--phon_i); stop-color:var(--phon_i); background:-webkit-linear-gradient(var(--phon_i), var(--phon_i));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_int_slash { fill: var(--phon_int_slash); color:var(--phon_int_slash); stop-color:var(--phon_int_slash); background:-webkit-linear-gradient(var(--phon_int_slash), var(--phon_int_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_i_long { fill: var(--phon_i); color:var(--phon_i); stop-color:var(--phon_i); background:-webkit-linear-gradient(var(--phon_i), var(--phon_i));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;   text-decoration: underline var(--phon_i);}
.phon_i_maj { fill: var(--phon_i_maj); color:var(--phon_i_maj); stop-color:var(--phon_i_maj); background:-webkit-linear-gradient(var(--phon_i_maj), var(--phon_i_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɪ*/
.phon_j { fill: var(--phon_j); color:var(--phon_j); stop-color:var(--phon_j); background:-webkit-linear-gradient(var(--phon_j), var(--phon_j));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_k { fill: var(--phon_k); color:var(--phon_k); stop-color:var(--phon_k); background:-webkit-linear-gradient(var(--phon_k), var(--phon_k));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_k_h { fill: var(--phon_k_h); color:var(--phon_k_h); stop-color:var(--phon_k_h); background:-webkit-linear-gradient(var(--phon_k_h), var(--phon_k_h));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*kʰ*/
.phon_l { fill: var(--phon_l); color:var(--phon_l); stop-color:var(--phon_l); background:-webkit-linear-gradient(var(--phon_l), var(--phon_l));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_l_emph { fill: var(--phon_l_emph); color:var(--phon_l_emph); stop-color:var(--phon_l_emph); background:-webkit-linear-gradient(var(--phon_l_emph), var(--phon_l_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_m_maj { fill: var(--phon_m_maj); color:var(--phon_m_maj); stop-color:var(--phon_m_maj); background:-webkit-linear-gradient(var(--phon_m_maj), var(--phon_m_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɯ*/
.phon_m { fill: var(--phon_m); color:var(--phon_m); stop-color:var(--phon_m); background:-webkit-linear-gradient(var(--phon_m), var(--phon_m));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_m_emph { fill: var(--phon_m_emph); color:var(--phon_m_emph); stop-color:var(--phon_m_emph); background:-webkit-linear-gradient(var(--phon_m_emph), var(--phon_m_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_n_maj { fill: var(--phon_n_maj); color:var(--phon_n_maj); stop-color:var(--phon_n_maj); background:-webkit-linear-gradient(var(--phon_n_maj), var(--phon_n_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ŋ*/
.phon_n { fill: var(--phon_n); color:var(--phon_n); stop-color:var(--phon_n); background:-webkit-linear-gradient(var(--phon_n), var(--phon_n));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_n_emph { fill: var(--phon_n_emph); color:var(--phon_n_emph); stop-color:var(--phon_n_emph); background:-webkit-linear-gradient(var(--phon_n_emph), var(--phon_n_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_o { fill: var(--phon_o); color:var(--phon_o); stop-color:var(--phon_o); background:-webkit-linear-gradient(var(--phon_o), var(--phon_o));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_o_long { fill: var(--phon_o); color:var(--phon_o); stop-color:var(--phon_o); background:-webkit-linear-gradient(var(--phon_o), var(--phon_o));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;    text-decoration: underline var(--phon_o); }
.phon_o_maj { fill: var(--phon_o_maj); color:var(--phon_o_maj); stop-color:var(--phon_o_maj); background:-webkit-linear-gradient(var(--phon_o_maj), var(--phon_o_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɔ*/
.phon_o_maj_long { fill: var(--phon_o_maj); color:var(--phon_o_maj); stop-color:var(--phon_o_maj); background:-webkit-linear-gradient(var(--phon_o_maj), var(--phon_o_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;   text-decoration: underline var(--phon_o_maj);} /*ɔ:*/
.phon_p { fill: var(--phon_p); color:var(--phon_p); stop-color:var(--phon_p); background:-webkit-linear-gradient(var(--phon_p), var(--phon_p));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_p_slash { fill: var(--phon_p_slash); color:var(--phon_p_slash); stop-color:var(--phon_p_slash); background:-webkit-linear-gradient(var(--phon_p_slash), var(--phon_p_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɸ   p\*/
.phon_p_h { fill: var(--phon_p_h); color:var(--phon_p_h); stop-color:var(--phon_p_h); background:-webkit-linear-gradient(var(--phon_p_h), var(--phon_p_h));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*pʰ*/
.phon_q { fill: var(--phon_q); color:var(--phon_q); stop-color:var(--phon_q); background:-webkit-linear-gradient(var(--phon_q), var(--phon_q));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_q_maj { fill: var(--phon_q_maj); color:var(--phon_q_maj); stop-color:var(--phon_q_maj); background:-webkit-linear-gradient(var(--phon_q_maj), var(--phon_q_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɒ*/
.phon_r { fill: var(--phon_r); color:var(--phon_r); stop-color:var(--phon_r); background:-webkit-linear-gradient(var(--phon_r), var(--phon_r));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_r_emph { fill: var(--phon_r_emph); color:var(--phon_r_emph); stop-color:var(--phon_r_emph); background:-webkit-linear-gradient(var(--phon_r_emph), var(--phon_r_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_r_maj { fill: var(--phon_r_maj); color:var(--phon_r_maj); stop-color:var(--phon_r_maj); background:-webkit-linear-gradient(var(--phon_r_maj), var(--phon_r_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʁ*/
.phon_r_slash_retr { fill: var(--phon_r_slash_retr); color:var(--phon_r_slash_retr); stop-color:var(--phon_r_slash_retr); background:-webkit-linear-gradient(var(--phon_r_slash_retr), var(--phon_r_slash_retr));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɻ   r\`*/
.phon_r_slash { fill: var(--phon_r_slash); color:var(--phon_r_slash); stop-color:var(--phon_r_slash); background:-webkit-linear-gradient(var(--phon_r_slash), var(--phon_r_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɹ   r\*/
.phon_s_maj { fill: var(--phon_s_maj); color:var(--phon_s_maj); stop-color:var(--phon_s_maj); background:-webkit-linear-gradient(var(--phon_s_maj), var(--phon_s_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʃ*/
.phon_s { fill: var(--phon_s); color:var(--phon_s); stop-color:var(--phon_s); background:-webkit-linear-gradient(var(--phon_s), var(--phon_s));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_s_emph { fill: var(--phon_s_emph); color:var(--phon_s_emph); stop-color:var(--phon_s_emph); background:-webkit-linear-gradient(var(--phon_s_emph), var(--phon_s_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_s_slash { fill: var(--phon_s_slash); color:var(--phon_s_slash); stop-color:var(--phon_s_slash); background:-webkit-linear-gradient(var(--phon_s_slash), var(--phon_s_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ɕ   s\*/
.phon_s_retr { fill: var(--phon_s_retr); color:var(--phon_s_retr); stop-color:var(--phon_s_retr); background:-webkit-linear-gradient(var(--phon_s_retr), var(--phon_s_retr));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʂ   s`*/
.phon_t { fill: var(--phon_t); color:var(--phon_t); stop-color:var(--phon_t); background:-webkit-linear-gradient(var(--phon_t), var(--phon_t));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_t_emph { fill: var(--phon_t_emph); color:var(--phon_t_emph); stop-color:var(--phon_t_emph); background:-webkit-linear-gradient(var(--phon_t_emph), var(--phon_t_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_t_maj { fill: var(--phon_t_maj); color:var(--phon_t_maj); stop-color:var(--phon_t_maj); background:-webkit-linear-gradient(var(--phon_t_maj), var(--phon_t_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*θ*/
.phon_t_h { fill: var(--phon_t_h); color:var(--phon_t_h); stop-color:var(--phon_t_h); background:-webkit-linear-gradient(var(--phon_t_h), var(--phon_t_h));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*tʰ*/
.phon_u { fill: var(--phon_u); color:var(--phon_u); stop-color:var(--phon_u); background:-webkit-linear-gradient(var(--phon_u), var(--phon_u));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } 
.phon_u_long { fill: var(--phon_u); color:var(--phon_u); stop-color:var(--phon_u); background:-webkit-linear-gradient(var(--phon_u), var(--phon_u));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;   text-decoration: underline var(--phon_u);}
.phon_u_maj { fill: var(--phon_u_maj); color:var(--phon_u_maj); stop-color:var(--phon_u_maj); background:-webkit-linear-gradient(var(--phon_u_maj), var(--phon_u_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʊ*/
.phon_v { fill: var(--phon_v); color:var(--phon_v); stop-color:var(--phon_v); background:-webkit-linear-gradient(var(--phon_v), var(--phon_v));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_v_maj { fill: var(--phon_v_maj); color:var(--phon_v_maj); stop-color:var(--phon_v_maj); background:-webkit-linear-gradient(var(--phon_v_maj), var(--phon_v_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʌ*/
.phon_w { fill: var(--phon_w); color:var(--phon_w); stop-color:var(--phon_w); background:-webkit-linear-gradient(var(--phon_w), var(--phon_w));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_x { fill: var(--phon_x); color:var(--phon_x); stop-color:var(--phon_x); background:-webkit-linear-gradient(var(--phon_x), var(--phon_x));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_x_maj_slash { fill: var(--phon_x_maj_slash); color:var(--phon_x_maj_slash); stop-color:var(--phon_x_maj_slash); background:-webkit-linear-gradient(var(--phon_x_maj_slash), var(--phon_x_maj_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_z_emph { fill: var(--phon_z_emph); color:var(--phon_z_emph); stop-color:var(--phon_z_emph); background:-webkit-linear-gradient(var(--phon_z_emph), var(--phon_z_emph));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_y { fill: var(--phon_y); color:var(--phon_y); stop-color:var(--phon_y); background:-webkit-linear-gradient(var(--phon_y), var(--phon_y));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_y_maj { fill: var(--phon_y_maj); color:var(--phon_y_maj); stop-color:var(--phon_y_maj); background:-webkit-linear-gradient(var(--phon_y_maj), var(--phon_y_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʏ*/
.phon_z_maj { fill: var(--phon_z_maj); color:var(--phon_z_maj); stop-color:var(--phon_z_maj); background:-webkit-linear-gradient(var(--phon_z_maj), var(--phon_z_maj));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʒ*/
.phon_z { fill: var(--phon_z); color:var(--phon_z); stop-color:var(--phon_z); background:-webkit-linear-gradient(var(--phon_z), var(--phon_z));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  }
.phon_z_slash { fill: var(--phon_z_slash); color:var(--phon_z_slash); stop-color:var(--phon_z_slash); background:-webkit-linear-gradient(var(--phon_z_slash), var(--phon_z_slash));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʑ   z\*/
.phon_z_retr { fill: var(--phon_z_retr); color:var(--phon_z_retr); stop-color:var(--phon_z_retr); background:-webkit-linear-gradient(var(--phon_z_retr), var(--phon_z_retr));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /*ʐ   z`*/

.phon_nas { fill: var(--phon_nas); color:var(--phon_nas); stop-color:var(--phon_nas); background:-webkit-linear-gradient(var(--phon_nas), var(--phon_nas));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent; } /*̃ */
.phon_rho { fill: var(--phon_rho); color:var(--phon_rho); stop-color:var(--phon_rho); background:-webkit-linear-gradient(var(--phon_rho), var(--phon_rho));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent; } /* ˞ */

.phon_schwi { fill: var(--phon_schwi); color:var(--phon_schwi); stop-color:var(--phon_schwi); background:-webkit-linear-gradient(var(--phon_schwi), var(--phon_schwi));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /* pour l'anglais i/ɪ*/
.phon_schwa { fill: var(--phon_schwa); color:var(--phon_schwa); stop-color:var(--phon_schwa); background:-webkit-linear-gradient(var(--phon_schwa), var(--phon_schwa));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /* pour l'anglais ə */
.phon_schwu { fill: var(--phon_schwu); color:var(--phon_schwu); stop-color:var(--phon_schwu); background:-webkit-linear-gradient(var(--phon_schwu), var(--phon_schwu));-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;  } /* pour l'anglais u/ʊ */

.bicolor1 { fill: var(--bicolor1); color: var(--bicolor1); background: none; background-clip: unset; -webkit-text-fill-color: initial; }
.bicolorWhite1 { fill: var(--bicolorWhite1); color: var(--bicolorWhite1); }
.bicolor2 { fill: var(--bicolor2); color: var(--bicolor2); background: none; background-clip: unset; -webkit-text-fill-color: initial; } 
.bicolorWhite2 { fill: var(--bicolorWhite2); color: var(--bicolorWhite2); }


/* gradients 20-30% */
.phon_m_maj7 { background:-webkit-linear-gradient(var(--phon_m_maj) 30%, var(--phon_7) 40%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}

/* gradients 40% */
.phon_wo { background:-webkit-linear-gradient(var(--phon_w) 42%, var(--phon_o) 40%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_wu { background:-webkit-linear-gradient(var(--phon_w) 42%, var(--phon_u) 40%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_w7 { background:-webkit-linear-gradient(var(--phon_w) 42%, var(--phon_7) 40%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}

/* gradients 50% */
.phon_wa { background:-webkit-linear-gradient(var(--phon_w) 52%, var(--phon_a) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_wa_maj {  background: -webkit-linear-gradient(var(--phon_w) 52%, var(--phon_a_maj) 50%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;}
.phon_wa_maj_long {   background:  -webkit-linear-gradient(var(--phon_w) 52%, var(--phon_a_maj) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;  text-decoration: underline var(--phon_a_maj); }
.phon_wv_maj {   background:  -webkit-linear-gradient(var(--phon_w) 52%, var(--phon_v_maj) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent; }
.phon_we_maj_nas { background:-webkit-linear-gradient(var(--phon_w) 52%, var(--phon_e_maj_nas) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_e_majj {  background: -webkit-linear-gradient(var(--phon_e_maj) 52%, var(--phon_j) 50%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;}
.phon_ej {  background: -webkit-linear-gradient(var(--phon_e) 52%, var(--phon_j) 50%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;}
.phon_ts { background:-webkit-linear-gradient(var(--phon_t) 52%, var(--phon_s) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ts_maj { background:-webkit-linear-gradient(var(--phon_t) 52%, var(--phon_s_maj) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_t_hs { background:-webkit-linear-gradient(var(--phon_t_h) 52%, var(--phon_s) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ts_retr { background:-webkit-linear-gradient(var(--phon_t) 52%, var(--phon_s_retr) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}                              
.phon_t_hs_retr { background:-webkit-linear-gradient(var(--phon_t_h) 52%, var(--phon_s_retr) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ts_slash { background:-webkit-linear-gradient(var(--phon_t) 52%, var(--phon_s_slash) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_t_hs_slash { background:-webkit-linear-gradient(var(--phon_t_h) 52%, var(--phon_s_slash) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_dz {background:-webkit-linear-gradient(var(--phon_d) 52%, var(--phon_z) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_dz_maj { background:-webkit-linear-gradient(var(--phon_d) 52%, var(--phon_z_maj) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_dz_slash {background:-webkit-linear-gradient(var(--phon_d) 52%, var(--phon_z_slash) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ks { background:-webkit-linear-gradient(var(--phon_k) 52%, var(--phon_s) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ks_maj {background:-webkit-linear-gradient(var(--phon_k) 52%, var(--phon_s_maj) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_kw {  background:  -webkit-linear-gradient(var(--phon_k) 52%, var(--phon_w) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_gz { background:-webkit-linear-gradient(var(--phon_g) 52%, var(--phon_z) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_gz_maj {   background:  -webkit-linear-gradient(var(--phon_g) 52%, var(--phon_z_maj) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_ij { background:-webkit-linear-gradient(var(--phon_i) 52%, var(--phon_j) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ji { background:-webkit-linear-gradient(var(--phon_j) 52%, var(--phon_i) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_i_nas { background:-webkit-linear-gradient(var(--phon_i) 52%, var(--phon_nas) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_h_maj_i { background:-webkit-linear-gradient(var(--phon_h_maj) 52%, var(--phon_i) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_nj { background:-webkit-linear-gradient(var(--phon_n) 52%, var(--phon_j) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_j_maj { background:-webkit-linear-gradient(var(--phon_n) 52%, var(--phon_j) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ef {background:-webkit-linear-gradient(var(--phon_e) 52%, var(--phon_f) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_ju {  background:  -webkit-linear-gradient(var(--phon_j) 52%, var(--phon_u) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_ju_long {  background:  -webkit-linear-gradient(var(--phon_j) 52%, var(--phon_u) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;  text-decoration: underline var(--phon_u);}
.phon_ju_maj {  background:  -webkit-linear-gradient(var(--phon_j) 52%, var(--phon_u_maj) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_schwju {  background:  -webkit-linear-gradient(var(--phon_j) 52%, var(--phon_schwu) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_arobasel {  background:  -webkit-linear-gradient(var(--phon_schwa) 52%, var(--phon_l) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_arobasem {  background:  -webkit-linear-gradient(var(--phon_schwa) 52%, var(--phon_m) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_arobasen {  background:  -webkit-linear-gradient(var(--phon_schwa) 52%, var(--phon_n) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_schwiz {  background:  -webkit-linear-gradient(var(--phon_schwi) 52%, var(--phon_z) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_schwaz {  background:  -webkit-linear-gradient(var(--phon_schwa) 52%, var(--phon_z) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_lj {  background:  -webkit-linear-gradient(var(--phon_l) 52%, var(--phon_j) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_sz {  background:  -webkit-linear-gradient(var(--phon_s) 52%, var(--phon_z) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_tt_maj {  background:  -webkit-linear-gradient(var(--phon_t) 52%, var(--phon_t_maj) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_jarobase {  background:  -webkit-linear-gradient(var(--phon_j) 52%, var(--phon_schwa) 50%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_ow { background:-webkit-linear-gradient(var(--phon_o) 52%, var(--phon_w) 50%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}

/* gradient 60% */
.phon_ei_maj {   background:  -webkit-linear-gradient(var(--phon_e) 50%, var(--phon_schwi) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_i_majarobase {   background:  -webkit-linear-gradient(var(--phon_i_maj) 50%, var(--phon_schwa) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_earobase {   background:  -webkit-linear-gradient(var(--phon_e) 50%, var(--phon_schwa) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_au_maj {   background:  -webkit-linear-gradient(var(--phon_cbrack) 50%, var(--phon_schwu) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_arobaseu_maj {   background:  -webkit-linear-gradient(var(--phon_3) 50%, var(--phon_schwu) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_u_majarobase {   background:  -webkit-linear-gradient(var(--phon_u_maj) 50%, var(--phon_schwa) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_o_maji_maj {   background:  -webkit-linear-gradient(var(--phon_o) 50%, var(--phon_schwi) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_ai_maj {   background:  -webkit-linear-gradient(var(--phon_v_maj) 50%, var(--phon_schwi) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_er {   background:  -webkit-linear-gradient(var(--phon_e) 50%, var(--phon_r_slash) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_i_majr {   background:  -webkit-linear-gradient(var(--phon_i_maj) 50%, var(--phon_r_slash) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_u_majr {   background:  -webkit-linear-gradient(var(--phon_u_maj) 50%, var(--phon_r_slash) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_a_majr {   background:  -webkit-linear-gradient(var(--phon_a_maj) 50%, var(--phon_r_slash) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_o_majr {   background:  -webkit-linear-gradient(var(--phon_o_maj) 50%, var(--phon_r_slash) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_o_maju_maj {   background:  -webkit-linear-gradient(var(--phon_o_maj) 50%, var(--phon_schwu) 60%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}

/* gradient 50-70% */
.phon_arho { background:-webkit-linear-gradient(var(--phon_a) 50%, var(--phon_rho) 70%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.phon_7rho { background:-webkit-linear-gradient(var(--phon_7) 50%, var(--phon_rho) 70%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}

/* gradients triples */
.phon_ju_majarobase {   background:  -webkit-linear-gradient(var(--phon_j) 45%, var(--phon_u_maj) 55%, var(--phon_schwa) 65%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_wai_maj {   background:  -webkit-linear-gradient(var(--phon_w) 45%, var(--phon_a) 55%, var(--phon_schwi) 65%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_war {   background:  -webkit-linear-gradient(var(--phon_w) 45%, var(--phon_a) 55%, var(--phon_r_slash) 65%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_ju_majr {   background:  -webkit-linear-gradient(var(--phon_j) 45%, var(--phon_u_maj) 55%, var(--phon_r_slash) 65%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}
.phon_ai_majarobase {   background:  -webkit-linear-gradient(var(--phon_a) 45%, var(--phon_i_maj) 55%, var(--phon_schwa) 65%);  -webkit-background-clip: text;  background-clip: text;  -webkit-text-fill-color: transparent;}


/* gradients horizontaux (mandarin) */
.phon_ts-h { background: linear-gradient(to right, var(--phon_t) 52%, var(--phon_s) 50%)}
.phon_t_hs-h { background: linear-gradient(to right, var(--phon_t_h) 52%, var(--phon_s) 50%)}
.phon_ts_retr-h { background: linear-gradient(to right, var(--phon_t) 52%, var(--phon_s_retr) 50%)}
.phon_t_hs_retr-h { background: linear-gradient(to right, var(--phon_t_h) 52%, var(--phon_s_retr) 50%)}
.phon_ts_slash-h { background: linear-gradient(to right, var(--phon_t) 52%, var(--phon_s_slash) 50%)}
.phon_t_hs_slash-h { background: linear-gradient(to right, var(--phon_t_h) 52%, var(--phon_s_slash) 50%)}

/*STYLES DES TRANSCRIPTIONS GRAPHIQUES*/
.tran {
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    font-size:18px;
    font-family:sans-serif;
    -inkscape-font-specification:'sans-serif Italic';
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    stroke-width:0.80000001;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

.tran_pinyin {
    font-style:italic;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    font-size:13px;
    font-family:sans-serif;
    -inkscape-font-specification:'sans-serif normal';
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    stroke-width:0.80000001;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

.tran_bopomofo {
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    font-size:13px;
    font-family:sans-serif;
    -inkscape-font-specification:'sans-serif normal';
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    stroke-width:0.80000001;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

/* Pour afficher la couleur en fond plutôt que dans le texte, ajouter .noTextClip */
.noTextClip {
    -webkit-background-clip: unset;
    background-clip: unset;
    -webkit-text-fill-color: unset;
}