:root {
    --wcarte: 80px;
    --hcarte: 56px;
    --marginbot: 00px;
    --carteV2Border: black 1px solid;
    --couleurEcritoire: #fdf4c2;
    --borders-anchor: black;
    --contoursWidth: 0.5px;
    --contoursColor: black;
}
/* #region FONT-FACES */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff'),
        url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.eot');
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
        url('../fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Italic.woff2') format('woff2'),
        url('../fonts/Ubuntu-Italic.woff') format('woff'),
        url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular.woff') format('woff'),
        url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.eot');
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
        url('../fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-BoldItalic.woff') format('woff'),
        url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-MediumItalic.eot');
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('../fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-MediumItalic.woff') format('woff'),
        url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.eot');
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/Ubuntu-Light.woff') format('woff'),
        url('../fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-LightItalic.eot');
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
        url('../fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-LightItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-LightItalic.woff') format('woff'),
        url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
	font-family:'SimKai';
	src: url('../fonts/simkai.eot');
	src: local('SimKai'), local('KaiTi'),
        url('../fonts/simkai.woff2') format("woff2"),
        url('../fonts/simkai.woff') format("woff"),
        url('../fonts/simkai.ttf') format("truetype");
	font-weight:normal;
	font-style:normal
}

body::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid rgb(224, 146, 1);  /* creates padding around scroll thumb */
  }

body {
    background-image: url(../im/arriereplan.gif);
    /* padding: 30px 0; */
    /* font-family: Palatino, Times, Calibri; */
    font-family: Ubuntu, Palatino, serif;
    font-variant-ligatures: no-common-ligatures;
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.logo img {
    height: 40px;
}

.ecritoire {
    padding: 5px 10px;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    overflow-x: scroll;
}
.rotate180 {
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
.ecritoirev2 {
    padding: 5px 10px;
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    overflow-x: scroll;
}

.paramTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding: 0 10px;
}
.paramTop div {
    display: inline-flex;
}

.paramTop svg, .parametres-bottom svg {
    width: 30px;
    height: 30px;
    margin:5px;
}

.parametres-left span {
    cursor: pointer;
}
.parametres-right span {
    cursor: pointer;
}
.parametres-right img {
    height: 30px;
    cursor: pointer;
    transform: translateY(-20%);
}
.ado {
    margin-left: 10px;
    margin-right: 30px;
    vertical-align: middle;
    font-size: 0.6em;
}
.ado img {
    height:20px;
}

.parametres-center img {
    height: 30px;
    border: solid black 1px;
    cursor: pointer;
}
.parametres-center span {
    cursor: pointer;
    transform: translateY(28%);
}

.parametres-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 2em;
    z-index: 100;
}
.parametres-bottom span {
    padding: 5px;
    cursor: pointer;
}

#casesZone {
    float: left;
    text-align: left;
    border: solid black 1px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
}

.ecritoireRow {
    display: flex;
    /* overflow-x: auto; */
   
}

#tiroir {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 100%;
    max-width: 1500px;
    height: 50vh;
    bottom: 0px;
    border: solid black 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 20px;
    background-color: #f5e381;
    text-align: center;
}

.scroll { 
    overflow-x: hidden; 
    overflow-y: auto;
} 

.panier {
    bottom: 0;
    height: 100%;

    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#panier > * {
    margin: 5px;
}

#hrDiv {
    cursor: n-resize;
    position:sticky;
    top:0px;
    width:45%;
    margin: 0px 0px 0px auto;
    background-color: rgba(255, 255, 255, 0.384) ;
    display: flex;
    justify-content: center;
    z-index: 100;
    border-bottom-left-radius: 50px;
}

.case {
    flex: 0 0 auto;
    display: inline-block;
    width: var(--wcarte);
    height: var(--hcarte);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: var(--marginbot);
    border: 1px white solid;
    background-color: white;
}
.caseGrill {
    border: 1px lightgray solid;
    border-style: dashed;
}

.caseHovered {
    /* background-color: #eb4d4d; */
    border: 3px blue solid;
    border-style: dashed;
}

.carte {
    display: inline-block;
    position: relative;
    border: solid black 1px;
    border-radius: 5px;
    width: var(--wcarte);
    height: var(--hcarte);
    /* margin: 5px; */
    cursor: grab;
    background-size: 100% 100%;
    overflow: hidden;
}

.hold {
    border: solid #ccc 4px;
    cursor: grabbing;
}

.invisible {
    display: none;
}

hr {
    width: 100%;
    /* content: &#xf0dc; ; */
}

footer {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    font-size: 12pt;
}

.licence-div {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* étale les items sur la largeur */
    justify-content: center;
    align-items: center; /* alignement vertical des items */
}
.licence-div div {
    margin: 3px 5px;
}

.header {
    text-align: center;
    font-size: 12pt;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* ///////////////// */
/* V2 MULTIDRAGGABLE */

#panierv2 {
    padding-left: 20px;
}

#multidraggable {
    position: relative;
    width:200vw;
    height: 200vh;
    background-color: var(--couleurEcritoire);
    border: 1px solid black;
}

.carte-v2 {
    float: left;
    position: absolute;
    border: var(--carteV2Border);
    border-color: var(--borders-anchor);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: hidden;
}

.carte-v2-punct {
    display: inline-block;
    position: relative;
    border: solid black 1px;
    border-radius: 5px;
    width: var(--wcarte);
    height: var(--hcarte);
    margin: 5px;
    cursor: pointer;
    background-size: 100% 100%;
}

.rod {
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
}

.borderTransparent {
    border: solid 1px transparent;
}

.selectedPhon {
    border-right: black solid 4px;
    border-right-color: var(--borders-anchor);
}

#anchor {
    position: absolute; 
    width:3px; 
    height:55px; 
    background-color: var(--borders-anchor);
    border-radius: 5px;
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 1px solid rgba(98, 155, 255, 0.85);
    border-radius: 0.15em;
}

.ui-selectable-helper {
    border: 2px green dotted;
    border-radius: 5px;
}

.carte.ui-selected, .carte.ui-selecting {
    background-color: indianred;
}

.tooldiv {
    border: solid 3px green;
    position: absolute;
    border-radius: 5px;
    z-index: 10000;
}

.tooldivZone {
    position: absolute;
    padding: 5px;
    color: var(--borders-anchor);
    cursor: pointer;
}
.tooldivZone svg {
    width: 20px;
    height: 20px;
}

.top-left {
    top: -5px;
    left: -5px;
    transform: translate(-100%, -50%);
}
.top-right {
    top: -5px;
    right: -5px;
    transform: translate(100%, -50%);
}
.bottom-left {
    bottom: -5px;
    left: -5px;
    transform: translate(-100%, 50%);
}
.bottom-middle {
    bottom: -5px;
    left: 50%;
    transform: translate(-50%,100%);
}
.bottom-right {
    bottom: -5px;
    right: -5px;
    transform: translate(100%, 50%);
}

/* BOUTON SYNTHÈSE VOCALE */
.btn-lecture {
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    align-items: center;
}
.btn-lecture input {
    font-style: italic;
    color: var(--borders-anchor);
    width: 40px;
    margin: 0px 5px;
    text-align: center;
    -moz-appearance: textfield;
    text-align: center;
}
.btn-lecture input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-lecture input:focus {
    -moz-appearance: initial;
}
.btn-lecture input:focus::-webkit-inner-spin-button {
    -webkit-appearance:initial;
    margin: 0;
}


.navOptions {
    width: 90%;
    margin: auto;
}

.tab-content {
    text-align: left;
    background-color: lightgoldenrodyellow;
    margin: 0px 20px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    min-height: 80%;
}

.nav-link.active {
    border: solid 1px black;
    border-bottom: solid 0px black;
}

.colorSetting {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 3px;
}

.colorSettingSelected {
    border: 3px solid green;
}

.btn-espace {
    padding: 8px 50px;
    margin: 0px 5px;
    background-color: indianred;
    border:1px solid rgb(156, 66, 66);
    color: black;
    border-radius: 5px;
}
.btn-espace:hover, .btn-espace:focus {
    background-color: rgb(156, 66, 66);
}
.stressOn {
    border: 3px solid red;
}

.ul_aide li {
    margin: 15px 10px;
}

.contours {
    -webkit-text-stroke-width: var(--contoursWidth);
    -webkit-text-stroke-color: var(--contoursColor);
}

.pinyinAtteste {
    border: solid 3px green;
    border-radius: 30px;
    padding:15px 25px 0px 25px;
}

.panneauDroite {
    background-color: var(--couleurEcritoire);
}



.zhuyin {
    font-family: serif;
    font-weight: bold;
}